lunapi==1.4.9
PySide6==6.10.3
pyqtgraph==0.13.7
numpy==2.2.6
pandas==2.2.3
matplotlib==3.10.1
scipy==1.15.3
plotly==5.24.1
nbformat==5.10.4
ipywidgets==8.1.5
tqdm==4.67.1
requests==2.32.3
IPython==8.30.0
